*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
 
    .bimage{
        position: absolute;
        width:100%;
   
        
        
        
    }
    .head{
        font-size: 1.3rem;
        color: white;
        position: relative;
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
       
        .bimmage{
            
            margin-bottom: 60px;
            
        }
        .btn{
            font-size: 1.2rem;
            width: 90px;
            height: 30px;
            background-color: darkgreen;
            color: white;
            border-radius: 10px;
            border-color: darkgreen;
            
            &:hover{
                border-color: darkgreen;
                color: darkgreen;
                background-color: white;
                transition: all 0.6s ease-in-out;
            }
        }
    }

    .text{
        padding-left: 20px;
        font-size: 2rem;
        color:white ;
        position: relative;
        .yes{
            color: darkgreen;
        }
    }
}

main{
    margin-top: 450px;
    text-align: center;
    .our{
        margin-top: 50px;
        font-size: 3rem;
        margin-bottom: 30px;
    }
    .container{
        display: flex;
        font-size: 1.3rem;
        
        
        .card1{
           border: 1px solid white;
           background-color: darkgreen;
           color: white; 
           
        }

        .card2{
            border: 1px solid white;
           background-color: darkgreen;
           color: white; 
        }

        .card3{
            border: 1px solid white;
           background-color: darkgreen;
           color: white; 
        }

        .card4{
            border: 1px solid white;
           background-color: darkgreen;
           color: white; 
        }
    }

    .lorem{
        text-align: left;
        display: flex;
        font-size: 2rem;
        margin: 30px 0;
        .know{
            padding-top: 50px;
            color: green;
            font-size: 2rem;
        }
        .bton{
            font-size: 1.2rem;
            width: 100px;
            height: 30px;
            background-color: darkgreen;
            color: white;
            border-radius: 10px;
            border-color: darkgreen;
            
            &:hover{
                border-color: darkgreen;
                color: darkgreen;
                background-color: white;
                transition: all 0.6s ease-in-out;
            }
        }
        .imgc{
            position: relative;
            
            width: 25%;
            height: 20%;
        }
        .imc{
            position: absolute;
            padding-left: 1210px;
            padding-top: 90px;
            
        }
    }

    .elect{
        margin-top:100px;
        .rect{
            
            width: 100%;
            height: 50%;
            
        }
        h1{
            position: absolute;
            
        }
    }
}